<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <link rel="stylesheet" type="text/css" href="style.css">


    <head>
        <meta charset="utf-8">
        <title>Calculadora</title>
        
    </head>

    <body>
        
    </body>

</html>