<!DOCTYPE html>
<html>
<head>
  <title>Error Page</title>
</head>
<body>
  <h1>Ocorreu um erro!</h1>
  <p>Desculpe, algo deu errado.</p>
  <a href="/index">Voltar para a página inicial</a>
</body>
</html>
